*{
    padding: 0;
    margin: 0;
}

#nav-item{
    font-family: "Favorit Medium", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#nav-item:hover{
    text-decoration: underline;
}

.about-aespa, #title-meet-aespa, #wala-lang{
    animation: appearAbout 2s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#About-title{
    font-family: "Favorit Medium", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.section, #About-title{
    font-family: "Favorit Medium", sans-serif;
    color: white;
    animation: appearDescandTitle 6s ease-in;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#MAMA-Awards, #Melon-Awards, #FACT-Awards{
    font-family: "Favorit Medium", sans-serif;
}

#MAMA-Awards, #FACT-Awards, #Melon-Awards{
    animation: appearAwards 10s ease-in;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#title-meet-aespa{
    font-family: "Favorit Medium", sans-serif;
    font-size: 80px;
}

#members-title{
    font-family: "Favorit Medium", sans-serif;
    text-align: center;
}

.aespa-karina, .aespa-giselle, .aespa-ningning, .aespa-winter{
    border-top: 2px solid black;
    display: flex;
}

.aespa-ningning{
    border-bottom: 2px solid black;
}

.karina-info p, .giselle-info p, .aespa-winter p, .aespa-ningning p{
    font-family: "Favorit Medium", sans-serif;
}

#member-name, #aespa-title-about{
    font-family: "Favorit Medium", sans-serif;
}

#aespa-title-about{
    font-weight: 700;
}

@keyframes appearMemberTitle{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes memberAppear{
    from{
        opacity: 0;
        transform: translateY(150px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appearImage{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes appearAwards{
    from{
        opacity: 0;
        transform: translateX(400px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearAbout{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appearDescandTitle{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}